version: "3.8"

networks:
  cdps-net:
    driver: bridge

services:

  productpage_cdps_45:
    image: cdps-productpage:g45
    container_name: productpage_cdps_45
    ports:
      - "9090:9080"
    depends_on:
      - details_cdps_45
      - reviews_cdps_45
    networks:
      - cdps-net
    volumes:
      - ./src/productpage:/opt/microservices

  details_cdps_45:
    image: cdps-details:g45
    container_name: details_cdps_45
    networks:
      - cdps-net
    volumes:
      - ./src/details:/opt/microservices

  ratings_cdps_45:
    image: cdps-ratings:g45
    container_name: ratings_cdps_45
    networks:
      - cdps-net
    volumes:
      - ./src/ratings:/opt/microservices

  reviews_cdps_45:
    image: cdps-reviews:g45
    container_name: reviews_cdps_45
    environment:
      - SERVICE_VERSION=v1   # cambiar a v2 o v3
      - ENABLE_RATINGS=false
      - STAR_COLOR=black
    depends_on:
      - ratings_cdps_45
    networks:
      - cdps-net
